.pio
.pioenvs
.piolibdeps
.vscode/.browse.*
.vscode/c_cpp_properties.json
.vscode/arduino.json
.vscode/settings.json
.vscode/extensions.json
.vscode/ipch
.vscode/launch.json
updates/update-config.json
emulator/bin
emulator/obj
emulator/.vs
firmware.map
