body {
    position:absolute;
    padding:0;
    margin:0;
    height:100%;
    min-height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

body, #header, #content, #footer {
    position: absolute;
    left:0;
    right:0;
}

#header {
    height: 60px;
    color: white;
    background-color: black;
}

#content {
    top:60px;
    bottom:20px;
}

#footer {
    bottom: 0px;
    height: 20px;
    color: white;
    background-color: black;
}

#menu {
    float: left;
    width: 220px;
    height: 100%;
    bottom: 0px;
    background-color: lightgray;
}

#body {
    position: absolute;
    left:220px;
    right:0px;
    bottom:0px;
    top:0px;
    background-color: white;
    padding:4px;
}

h1 {
    margin-top:0;
}

#menu ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

#menu ul li {
    width: 100%;
    padding: 4px 4px 4px 4px;
    list-style: none;
}

#menu ul li a {
    color: black;
}

#menu ul li.selected {
    background-color: white;
}

#footer .form-item {
    display: inline-block;
    width: 300px;
    color: lightgray;
    font-size: 12px;
}

#footer .form-item span {
    font-weight: bold;
    color: white;
}

#body .form-item {
    width: 300px;
    height:18px;
    color: gray;
    position: relative;
    background-color:#eee;
    padding: 6px 8px 3px 8px;
    margin: 4px 4px 4px 4px;
}

#body .form-item span {
    font-weight: bold;
    color: black;
    float: right;
}

#body .form-item input {
    position: absolute;
    right:4px;
    margin-top: -3px;
}

.pin-LIGHT, .pin-SWITCH {
    width: 90px;
    height: 60px;
    display: inline-block;
    margin: 4px;
    padding: 1px;
    border: solid 1px #000;
    text-align: center;
}
.pin-title {
    border: solid 1px #000;
    background-color: #aaa;
}
.pin-state {
    padding-top:14px;
}
